<div class="review col-sm-12">
  <h5 class="rating-by-user">
    <%= @review.rating %>/5 rating by <em>username here</em> on <%= @review.created_at %>
  </h5>
  <p>
    <%= @review.description %>
  </p>
</div>